.content
	display: grid
	grid-column-gap: 2%
	grid-template-columns: 24% 72%

span
	font: menu
	font-size: large
	display: inline-flex
	align-items: center

@media (max-width: 622px)
	.content
		display: block
