<div class="module" *ngIf="wP.name">
  <div class="module-mod">
    <button (click)="removeModule($event)">&#x2716;</button>
    <span>Current Temperature: {{wP.main.temp - 272 | number: '1.0-0'}}°C</span>
    <span>Humidity: {{wP.main.humidity}}%</span>
    <span>Visibility: {{wP.visibility}}m</span>
    <span>Wind Speed: {{wP.wind.speed}}m/s</span>
    <span>Wind Degree: {{wP.wind.deg}}°</span>
    <span>Wind Gust: {{wP.wind.gust}}</span>
    <span>Cloud: {{wP.clouds.all}} Oktas</span>
    <span>Country: {{wP.sys.country}}</span>
    <span>Sunrise: {{wP.sys.sunrise | date:'h:mm a'}}</span>
    <span>Sunset: {{wP.sys.sunset | date:'h:mm a'}}</span>
    <span>Feels like: {{wP.main.feels_like - 272 | number: '1.0-0'}}°C</span>
    <span>Max Temp. {{wP.main.temp_max - 272 | number: '1.0-0'}}°C</span>
    <span>Min Temp. {{wP.main.temp_min - 272 | number: '1.0-0'}}°C</span>
  </div>
  <div class="module-mod">
    <button (click)="removeModule($event)">&#x2716;</button>
    <app-google-maps [coord]="coord"></app-google-maps>
  </div>
  <div class="module-mod">
    <button (click)="removeModule($event)">&#x2716;</button>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Weekly Forecast
          </mat-panel-title>
          <mat-panel-description>
            Current forecast {{weatherDetailAvailability ? 'Available' : 'Unavailable'}} {{dateTime
            |date:'shortTime'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="layout">
          <div *ngFor="let daily of wFP.daily">
            <div class="bar">
              <div *ngFor="let wi of daily.weather">
                <div class="image-container">
                  <img class="icon" src="https://openweathermap.org/img/wn/{{wi.icon}}@2x.png" alt="Weather icon" />
                  <span>{{wi.main}}</span>
                </div>
              </div>
              <span>{{daily.temp.max - 272 | number: '1.0-0'}}°C</span>
              <div class="temp-bar {{daily.temp.weatherIndicator}}"></div>
              <span>{{daily.temp.min - 272 | number: '1.0-0'}}°C</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>